<!DOCTYPE html>
<html>
  <head>
    <title>FriendsFlix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="<%= image_url('favicon.ico') %>" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <%# add things to window in order to access them on client side %>

    <%# add images to window %>
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>";
    </script>

    <%# add current user to window  %>
    <%# TODO on client side i am unable to delete this script %>
    <% if signed_in? %>
      <script id="bootstrap-current-user" type="text/javascript">
        window.currentUser ={
                    <%= current_user.id %>: {
                        id: <%= current_user.id %>,
                        email: "<%= current_user.email %>"
                    }
                }
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
